# dependencies
node_modules
.pnpm-store

# testing
/coverage

# production
/dist

# misc & OS
.DS_Store
.AppleDouble
.LSOverride
._*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
